body {
    background-color: rgb(176, 218, 255);
    font-family: 'Courier New', Courier, monospace;
}
div {
    margin: 0 auto;
    padding: 5px;
  }
form {
    height: 30px;
    padding: 5px;
}
label {
    padding: 5px;
}
a {
    background-color: rgb(67, 119, 231);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a:hover {
    text-decoration: underline;
    color: rgb(164, 165, 168);
}