body {
    background-color: rgb(138, 196, 247);
    font-family: 'Courier New', Courier, monospace;
}
div {
    margin: 20px;
    padding: 5px;
  }
form {

}
a {
    text-decoration: none;
    color: #666;
}
    a:hover {
    text-decoration: underline;
}